<!DOCTYPE html>
<html>

<head>
    <title>Sprinkler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
    <div id="app" class="container">
        <div v-if="connected">
            <div class="row border-bottom pt-4 pb-2">
                <div class="col">
                    <h3>Irrigation System</h3>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">

                    <p>You can press this button to manually open and close the valve. Remember to close it once you're
                        done.</p>
                    <div class="form-group mb-5">
                        <button id="overwrite-button" type="button" class="btn btn-secondary btn-lg"
                            v-if="!configuration.overwrite" v-on:click="toggle" style="width: 100%">Open valve</button>
                        <button id="overwrite-button" type="button" class="btn btn-primary btn-lg" v-else
                            v-on:click="toggle" style="width: 100%">Close valve</button>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5>Watering schedule</h5>
                        <button type="button" class="btn btn-outline-secondary" v-on:click="add">Add interval</button>
                    </div>

                    <div>
                        <div class="card mb-3" style="width: 100%"
                            v-for="(event, index) in configuration.schedule.events">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5 class="card-title mb-1">Interval #{{index + 1}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Duration - <duration
                                                :from="event.from" :to="event.to"></duration>
                                        </h6>
                                    </div>
                                    <button type="button" class="btn btn-outline-secondary"
                                        v-on:click="remove(index)">Remove</button>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="width: 4rem">From</span>
                                        </div>
                                        <input class="form-control" :id="'from-' + index" :name="'from-' + index"
                                            type="time" step="1" v-model="event.from" v-on:change="notifyChange">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="width: 4rem">To</span>
                                        </div>
                                        <input class="form-control" :id="'to-' + index" :name="'to-' + index"
                                            type="time" step="1" v-model="event.to" v-on:change="notifyChange">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group my-3">
                        <button type="button" class="btn btn-success btn-lg" style="width: 100%" v-on:click="update"
                            v-if="changed">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <p v-else>Unable to connect to the Sprinkler irrigation system.</p>
    </div>
    <script type="module" src="js/index.js"></script>
</body>

</html>